<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>useBackupFrameRate</key>
	<true/>
	<key>postNotifications</key>
	<false/>
	<key>closeApplicationWhenFinished</key>
	<false/>
	<key>showDownloadSummary</key>
	<true/>
	<key>tryToDetermineFrameRate</key>
	<true/>
	<key>convertSubtitles</key>
	<true/>
	<key>changeEncoding</key>
	<true/>
	<key>skipAlreadyDownloadedLanguages</key>
	<true/>
	<key>showDockIcon</key>
	<true/>
	<key>showStatusBarItem</key>
	<true/>
	<key>shallowSearch</key>
	<false/>
	<key>appendLanguageCode</key>
	<true/>
	<key>mergeAdjacentWhitespaces</key>
	<true/>
	<key>correctPunctuation</key>
	<true/>
	<key>expectedEncoding</key>
	<integer>4</integer>
	<key>backupFrameRate</key>
	<real>23.976</real>
	<key>expectedSubtitleFormat</key>
	<string>subRip</string>
	<key>downloadLimit</key>
	<string>firstPerLanguage</string>
	<key>nameConflictAction</key>
	<string>override</string>
	<key>providers</key>
	<array>
		<string>Napisy24</string>
		<string>NapiProjekt</string>
		<string>OpenSubtitles</string>
	</array>
	<key>languages</key>
	<array>
		<string>pl</string>
		<string>en</string>
	</array>
</dict>
</plist>
